Electrifying/minecraft/asm/
Electrifying/minecraft/crash-reports/
Electrifying/minecraft/minetweaker.log
Electrifying/minecraft/saves/
Electrifying/minecraft/mods/fastcraft-1.9.jar
Electrifying/minecraft/carpentersblocks/
Electrifying/minecraft/screenshots/
Electrifying/minecraft/logs
Electrifying/minecraft/usernamecache.json
Electrifying/minecraft/liteconfig/
*.points
Electrifying/minecraft/config/UniqueNames.txt
Electrifying/minecraft/servers.dat
Electrifying/minecraft/liteconfig/
Electrifying/minecraft/liteconfig
