minecraft/asm
minecraft/crash-reports/
minecraft/logs
minecraft/minetweaker.log
minecraft/saves
minecraft/mods/fastcraft-1.9.jar
minecraft/mods/carpentersblocks
minecraft/screenshots
minecraft/config/cofh
minecraft/mods/1.7.10